<section>
  <app-settings-bar
    [startGame]="startGame"
    [playButtonCaption]="playButtonCaption"
    (playerName)="onPlayerNameChange($event)"
    (gameMode)="onGameModeChange($event)"
  ></app-settings-bar>
  <h2>{{ chooseMessage() && message}}</h2>
  <div *ngIf="cells" class="game-field">
    <div class="row" *ngFor="let row of cells | flatTo2D">
      <app-cell
        class="cell"
        *ngFor="let cell of row"
        [active]="cell.active"
        [lost]="cell.lost"
        [cell]="cell"
      ></app-cell>
    </div>
  </div>
</section>
