.game-wrapper {
  display: flex;
  min-width: fit-content;
  min-height: 100%;
  align-items: center;
  justify-content: center;

  @media (max-width: 900px) {
    align-items: initial;
    flex-direction: column;
    justify-content: initial;
  }
}

app-leader-board {
  flex: 1;
}

app-game-section {
  padding: 1em;
  border-right: 1px solid rgba(0, 0, 0, 0.151);
  flex: 2;

  @media (max-width: 900px) {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
  }
}
